<%= render "users/profile_header", current_tab: "details" %>

<br />
<div class="budget_items_chart"></div>

<p><%= link_to "Edit", edit_user_budget_path(current_user, @budget) %> | <%= link_to "Delete", user_budget_path(current_user, @budget), method: :delete, data: { confirm: "Are your sure?" }  %></p>
