<dl class="tabs">
  <dd class="<%= "active" if current_tab == 'details' %>">
    <a href="#panel1">Details</a>
  </dd>
  <dd class="<%= "active" if current_tab == 'transactions' %>">
    <%= link_to 'Transactions', user_transactions_path(current_user) %>
  </dd>
  <dd class="<%= "active" if current_tab == 'budget' %>">
    <a href="#panel3">Budget</a>
  </dd>
</dl>
