<div class="welcome-container">
  <h1>Welcome to BudgetMe</h1>

  <% if current_user && current_user.budget %>
    <p><%= link_to "View your budget", user_budget_path(current_user, current_user.budget), class: "welcome-button" %></p>
  <% elsif current_user && !current_user.budget %>
    <p><%= link_to "Create your budget", new_user_budget_path(current_user), class: "welcome-button" %></p>
  <% else %>
    <p><%= link_to "Create your budget", new_user_registration_path, class: "welcome-button" %></p>
  <% end %>
</div>
